body {
    background: linear-gradient(to right, #ECEBDE, #D7D3BF, #C1BAA1);
    z-index: -1;
}
header, main{
    margin-left: 230px;
}
h1{
    font-size: 100px;
    font-family:fantasy;
    font-style: italic;
    color: #008DDA;
    text-align: center;
}
.header{
    font-weight: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #81CEEB;
}
table, td, th{
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px dashed #a79e7f;
    border-collapse: collapse;
    color: #37AFE1;
}
td{
    font-weight: lighter;
}
img{
    width: 90px;
    height: 20px;
    padding-top: 5px;
}
h3{
    font-size: 25px;
    font-family:fantasy;
    font-weight: lighter;
    color: #4477CE;
    margin-top: 60px;
    margin-left: 280px;
}
.obj{
    color: #37AFE1;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 200px;
    list-style: square;
}
.element{
    padding: 10px;
}

